# **CA05 PART B: kNN based Recommender Engine**
## **6070 Machine Learning**
## Elizabeth Hyde

**Data Source:** The data is a subset of the IMDb dataset from the UCI Machine Learning Repository. The data contains 30 movies, including data for each movie across seven genres and their IMDB ratings. 


**Objective:**  Replicate a recommender system on a small scare. Given the movies dataset, what are the 5 most similar movies to a movie query?

In [0]:
import pandas as pd
import numpy as np

In [0]:
movies = pd.read_csv('https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv')

In [4]:
movies.head(10)

   Movie ID           Movie Name  IMDB Rating  ...  Mystery  History  Label
0        58   The Imitation Game          8.0  ...        0        0      0
1         8           Ex Machina          7.7  ...        1        0      0
2        46     A Beautiful Mind          8.2  ...        0        0      0
3        62    Good Will Hunting          8.3  ...        0        0      0
4        97         Forrest Gump          8.8  ...        0        0      0
5        98                   21          6.8  ...        0        1      0
6        31               Gifted          7.6  ...        0        0      0
7         3  Travelling Salesman          5.9  ...        1        0      0
8        51               Avatar          7.9  ...        0        0      0
9        47       The Karate Kid          7.2  ...        0        0      0

[10 rows x 11 columns]

In [0]:
X = movies[['IMDB Rating', 'Biography', 'Drama', 'Thriller','Comedy','Crime','Mystery','History']]

y = movies['Movie Name']

In [14]:
from sklearn.neighbors import NearestNeighbors

recommend = NearestNeighbors(n_neighbors=5)

recommend.fit(X,y)

recommendations = recommend.kneighbors([[7.2, 1, 1, 0, 0, 0, 0, 1]])

print(recommendations)

(array([[0.9       , 1.        , 1.0198039 , 1.16619038, 1.41421356]]), array([[28, 27, 29, 16,  2]]))

In [30]:
# use output to print movie names for corresponding index values
ids = [28, 27, 29, 16,  2]
for i in ids:
  print(movies.iloc[i])

Movie ID                      2
Movie Name     12 Years a Slave
IMDB Rating                 8.1
Biography                     1
Drama                         1
Thriller                      0
Comedy                        0
Crime                         0
Mystery                       0
History                       1
Label                         0
Name: 28, dtype: object
Movie ID                   2
Movie Name     Hacksaw Ridge
IMDB Rating              8.2
Biography                  1
Drama                      1
Thriller                   0
Comedy                     0
Crime                      0
Mystery                    0
History                    1
Label                      0
Name: 27, dtype: object
Movie ID                    2
Movie Name     Queen of Katwe
IMDB Rating               7.4
Biography                   1
Drama                       1
Thriller                    0
Comedy                      0
Crime                       0
Mystery                     0
History                     0
Label                       0
Name: 29, dtype: object
Movie ID                    2
Movie Name     The Wind Rises
IMDB Rating               7.8
Biography                   1
Drama                       1
Thriller                    0
Comedy                      0
Crime                       0
Mystery                     0
History                     0
Label                       0
Name: 16, dtype: object
Movie ID                      2
Movie Name     A Beautiful Mind
IMDB Rating                 8.2
Biography                     1
Drama                         1
Thriller                      0
Comedy                        0
Crime                         0
Mystery                       0
History                       0
Label                         0
Name: 2, dtype: object

**Recommendations for The Post:**

1. 12 Years a Slave
2. Hacksaw Ridge
3. Queen of Katwe
4. The Wind Rises
5. A Beautiful Mind